body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background: #f4f6f8;
}

h2 {
    margin-bottom: 5px;
}

.box {
    margin-bottom: 15px;
}

input {
    padding: 6px;
    margin-right: 5px;
}

button {
    padding: 6px 10px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background: #eaeaea;
}

.hide {
    display: none;
}

.delete {
    color: red;
    cursor: pointer;
}